<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Eliminar cuenta monitor</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2 class="titulo" >¿Seguro que quieres eliminar tu cuenta?</h2>
    <form class="form-horizontal" action="#" th:action="@{|/monitor/eliminar/${dni}|}" method="post">
        <a href="/ajustes" class="btn btn-success decision">No</a>
        <button type="submit" class="btn btn-danger decision">Eliminar cuenta</button>
    </form>
    <style>
        .decision {
            width: 46%;
            float: left;
            padding: 15px;
            margin-left: 10px;
        }
        form {
            padding-bottom: 75px;
        }
    </style>
</div>



</body>
</html>