<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Gestión Monitor | TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>


<div layout:fragment="content" class="contenido">

    <h2 class="titulo" > Gestión Monitor </h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Duración</th>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>Oferta</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="actividad: ${actividades}">
            <td th:text="${actividad.nombre}"></td>
            <td th:text="${actividad.estado}"></td>
            <td th:text="${actividad.duracion}"></td>
            <td th:text="${actividad.fecha}"></td>
            <td th:text="${actividad.lugar}"></td>
            <td th:text="${actividad.descuentoAplicado != null} ? ${actividad.descuentoAplicado} : 'Sin descuento aplicado'"></td>
            <td><a th:href="@{/actividad/ver/{id}(id=${actividad.id})}" class="btn btn-warning" role="button" >Ver Actividad</a>
            </td>
            <td><a th:href="@{/actividad/actualizar/{id}(id=${actividad.id})}" class="btn btn-warning" role="button" >Modificar</a>
            </td>
            <td><a th:href="@{/actividad/cancelar/{id}(id=${actividad.id})}" class="btn btn-danger" role="button" >Cancelar</a>
            </td>
            <td><a th:href="@{/actividad/aplicarDescuento/{id}(id=${actividad.id})}" class="btn btn-warning" role="button" >Aplicar Oferta</a>
            </td>
            <td><a th:href="@{/actividad/listadopersonas/{id}(id=${actividad.id})}" class="btn btn-danger" role="button" >Ver Listado Personas</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/actividad/crear" class="btn btn-success" role="button" >Crear Actividad</a>
</div>

</body>
</html>