<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Solicitudes Monitores</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 class="titulo">Solicitudes Monitores</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Estado</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="monitor: ${monitores}">
            <td th:text="${monitor.dni}"></td>
            <td th:text="${monitor.nombre}"></td>
            <td th:text="${monitor.estado}"></td>
            <td><a th:href="@{/monitor/verperfil/{id}(id=${monitor.dni})}" class="btn btn-warning" role="button" >Ver solicitud</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>