<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Perfil | TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>


<div layout:fragment="content" class="contenido">

    <h2 class="titulo" > Perfil Monitor  </h2>

    <table class="table table-striped" th:object="${monitor}">
        <tr>
            <th>Foto de perfil</th>
            <td> <img th:src="@{${'/img/monitores/' + monitor.foto}}" style="width: 50%; height: 50%"/></td>
        </tr>
        <tr>
            <th>DNI</th>
            <td th:text="${monitor.dni}"></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td th:text="${monitor.nombre}"></td>
        </tr>
        <tr>
            <th>Estado</th>
            <td th:text="${monitor.estado}"></td>

        </tr>
        <tr>
            <th>Domicilio</th>
            <td th:text="${monitor.domicilio}"></td>

        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${monitor.email}"></td>

        </tr>
        <tr>
            <th>IBAN</th>
            <td th:text="${monitor.iban}"></td>

        </tr>

    </table>
</div>

</body>
</html>