<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Cancelar Actividad</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2 class="titulo" >¿Seguro que quieres cancelar la actividad?</h2>
    <form class="form-horizontal" action="#" th:action="@{|/actividad/cancelar/${actividad.id}|}" method="post">
        <a href="/monitor/gestionActividades" class="btn btn-success decision">No</a>
        <button type="submit" class="btn btn-danger decision">Cancelar Actividad</button>
    </form>
    <style>
        .decision {
            width: 46%;
            float: left;
            padding: 15px;
            margin-left: 10px;
        }

        form {
            padding-bottom: 75px;
            width: 45%;
        }

        .error {
            margin-top: 40px;
            width: auto;
            text-align: center;
            display: block;
            justify-content: center;
            font-size: xx-large;
        }
    </style>
</div>



</body>
</html>