<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-back}">
<head>
    <title>Modificar Tipo de Actividad</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2 class="titulo" >Modificar Tipo de Actividad</h2>
    <form class="form-horizontal" action="#" th:action="@{/tipoactividad/modificar/{id}(id=${tipoactividad.id})}"
          th:object="${tipoactividad}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-3" >Nombre</label>
            <div class="col-sm-9">
                <input class="form-control " maxlength="50" type="text" th:field="*{nombre}" />
                <p class="alerta" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-3" > Nivel de tipo de actividad </label>
            <div class="col-sm-9">
                <select class="form-control  " type="text" th:field="*{nivelActividad}" >
                    <option value="bajo" selected> Selecciona un valor</option>
                    <option value="bajo">Bajo</option>
                    <option value="medio">Medio</option>
                    <option value="alto">Alto</option>
                    <option value="extremo">Extremo</option>
                </select>
                <p class="alerta" th:if="${#fields.hasErrors('nivelActividad')}" th:errors="*{nivelActividad}"></p>
            </div>
        </div>

        <div class="form-group row" style="margin-left: 30px;" >
            <button type="submit" class="btn btn-primary">Modificar tipo de actividad</button>
        </div>

    </form>
</div>

</body>
</html>