<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Lista de Clientes</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>

<body>

<div layout:fragment="content">
    <h1 class="titulo">Lista de Clientes</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Contraseña</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="cliente: ${clientes}">
            <td th:text="${cliente.dni}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.password}"></td>
            <td><a th:href="@{/cliente/verperfil/{id}(id=${cliente.dni})}" class="btn btn-warning" role="button" >Ver Perfil</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>