<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Ajustes Cuenta | TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>


<div layout:fragment="content" class="contenido">

    <h2 class="titulo" > Ajustes Cuenta </h2>

    <div class="botones-ajustes">
        <a th:href="@{/cliente/verperfil/{id}(id=${cliente.dni})}" class="btn btn-success boton-ajustes">Ver Perfil</a>
        <a th:href="@{/cliente/actualizar/{id}(id=${cliente.dni})}" class="btn btn-warning boton-ajustes">Modificar Perfil</a>
        <a th:href="@{/cliente/delete/{id}(id=${cliente.dni})}" class="btn btn-warning boton-ajustes">Eliminar Perfil</a>
    </div>
    <style>
        .boton-ajustes {
            display: block;
        }
    </style>
</div>

</body>
</html>