<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Login | TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>


<div layout:fragment="content" class="contenido">

    <h2 class="titulo" > Inicio Sesión </h2>


    <div class="card-body">
        <div th:if="${errorLogin}" style="text-align: center;padding: 20px;">El dni o la contraseña son erroneos. ¿Seguro que tienes una cuenta? <a href="/registro" class="btn btn-success" role="button" >Create una cuenta aquí!</a></div>
        <div th:unless="${errorLogin}" style="text-align: center;padding: 20px;"> ¿Aún no tienes cuenta? <a href="/registro" class="btn btn-success" role="button" >Create una cuenta aquí!</a> </div>
        <form class="form-signin" action="#" th:action="@{/login}"
              th:object="${login}" method="post">
            <div class="form-label-group">
                <input type="text" class="form-control" autofocus th:field="*{dni}" placeholder="DNI" maxlength="10">
                <p class="alerta" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></p>
            </div>

            <div class="form-label-group">
                <input type="password" class="form-control" th:field="*{password}" placeholder="Contraseña" maxlength="20">
                <p class="alerta" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase boton-is" type="submit">Iniciar Sesión</button>
        </form>
    </div>

    <style>
        .form-signin {
            width: 35%;
            margin: 0 auto;
            margin-top: 10px;
        }
        .form-label-group {
            padding: 15px;
        }

        label {
            padding-bottom: 5px;
        }

        .boton-is {
            margin-top: 10px;
        }

    </style>
</div>
</body>
</html>