<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Registro | TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>


<div layout:fragment="content" class="contenido">

    <h2 class="titulo" > ¿Que tipo de cuenta deseas crearte? </h2>

    <div class="botones-tipo">
        <a href="/cliente/registro" class="btn btn-success boton-tipo">Registrarse como Cliente</a>
        <a href="/monitor/registro" class="btn btn-warning boton-tipo">Registrarse como Monitor</a>
    </div>

</div>

</body>
</html>