<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base-front}">
<head>
    <title>Lista de Monitores</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"
          th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 class="titulo">Lista de Acreditaciones de Monitor</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Certificado</th>
            <th>Tipo Actividad</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="acredita: ${acreditados}">
                <td th:text="${acredita.certificado}"></td>
                <td th:text="@{${map.get(acredita.tipoActividad)}}"></td>
                <td><a th:href="@{${'/certificados/'+ acredita.certificado}}"  target="_blank" class="btn btn-warning" role="button" >Ver Certificado</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/acreditacion/add" class="btn btn-success" role="button" >Añadir Acreditación</a>
</div>

</body>
</html>